# Ignore the vagrant directory
.vagrant
vagrant_ansible_inventory_default

# Vim swap files
*.swp

# Chrome user data directory
user-data-dir

# Vendor assets
extension/assets/vendor

# Node modules
node_modules

# Extension private key
extension.pem
